body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 17px;
  background: linear-gradient(
    135deg,
    #2ee6a8 0%,
    #3399ff 34.37%,
    #9933ff 69.27%,
    #ff3399 100%
  );
  height: 100vh;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.App {
  padding: 30px;
}

.header {
  text-align: center;
}
